<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LuminaCraft - Galería</title>
    <link rel="stylesheet" href="../css/estilos.css">
    <link rel="stylesheet" href="../css/sty-galeria.css">
</head>

<body>
    <header>
        <!-- Logo y barra de navegación -->
        <img src="../images/logo/logo-lumina.png" alt="LuminaCraft" width="130" height="130">
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="galeria.html" class="active">Galería</a></li>
                <li><a href="presupuesto.html">Presupuesto</a></li>
                <li><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Sección de galería -->
        <section class="gallery">
            <h2>Galería de Proyectos</h2>
            <p>Explora algunos de nuestros proyectos destacados en iluminación y diseño de interiores. Cada proyecto
                refleja nuestra pasión por el diseño y la atención al detalle.</p>
            <p>Descubre cómo combinamos creatividad y tecnología para transformar espacios en ambientes únicos y
                funcionales.</p>
            <div id="gallery-container"></div>
        </section>
    </main>
    <!-- Pie de pagina con sus redes -->
    <footer>
        <p id="copy23">&copy; 2023 LuminaCraft</p>
        <div class="company-info">
            <p><strong>Dirección:</strong> C. la Iglesia, 3, Huerta del Rey</p>
            <p>Aviso legal | Política de privacidad</p>
        </div>
        <div class="social-icons">
            <a href="https://www.facebook.com" target="_blank">
                <img src="../images/redes/facebook.png" alt="Facebook" width="30" height="30">
            </a>
            <a href="https://www.twitter.com" target="_blank">
                <img src="../images/redes/x.png" alt="X" width="30" height="30">
            </a>
            <a href="https://www.instagram.com" target="_blank">
                <img src="../images/redes/instagram.png" alt="Instagram" width="30" height="30">
            </a>
            <a href="https://www.tiktok.com" target="_blank">
                <img src="../images/redes/tiktok.png" alt="TikTok" width="30" height="30">
            </a>
        </div>
    </footer>
    <!-- Scripts -->
    <script src="../js/galeria.js"></script>
</body>

</html>